body {
    margin: 40px;
    background-color: #1F2937;
    font-size: 16px;
    width: 550px;
    height: 548px;
    
}


h1 {
    color: white;
    font-size: 40px;
    font-family: "Karla", sans-serif;
    line-height: 40px;
    margin-bottom: 0;

}

h2 {
    color: #D5D4D8;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 25px;
}

#green {
    color: #4ADF86;
}

#btn {
    background-color: #4ADF86;
    color: #FFFFFF;
    line-height: 24px;
    width: 191px;
    height: 40px;
    border: none;
    border-radius: 5px;
    display: block;
    margin-bottom: 20px;
    margin-top: 25px;
}

#field {
    display: block;
    margin-top: 20px;
    background-color: #2F3E53;
    border: none;
    width: 100%;
    border-bottom: 3px solid #2F3E53;
    background-color: transparent;
    margin-bottom: 20px;
}

.password-field {
    margin-right: 20px;
    width: 211px;
    height: 39px;
    background-color: #273549;
    border: none;
    border-radius: 5px;
    color: #4ADF86;
    text-align: center;
}